<h1>Current Bloggers</h1>

<hr>
<ul>
  <% @bloggers.each do |blogger| %>
  <li>
    <%= link_to blogger.name, blogger %>
  </li>
  <% end %>
</ul>
<hr>
<%= button_to "New Blogger", new_blogger_path, method: :get%>
